<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        {{ i18n "home" }} | {{ .Site.Params.author }}
    </title>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content vertical">
            <div class="intro">
                <div class="text">
                    <h1>Hi, I'm Alex</h1>
                    <h1>A Software Developer</h1>
                </div>
                <img src="" alt="my photo">
            </div>
            <div class="cta">
                <button>Check out my latest project</button>
            </div>
        </div>
    </div>

</body>

</html>