.intro {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    @media only screen and (min-width: $breakLarge) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        width: $width;
    }
    .text {
        h1 {
            margin: 25px;
            @media only screen and (min-width: $breakLarge) {
                margin: 0;
            }
        }
    }
}

.cta {
    button {
        border: none;
        background-color: #9ffddd;
        padding: 8px 12px;
        border-radius: 6px;
    }
    @media only screen and (min-width: $breakLarge) {
        align-self: flex-start;
        // harcoded value :P
        margin-top: 20px;
        margin-left: 75px;
    }
}